<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Summary</title>
</head>
<body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Stori_Logo_2023.svg" ALT="stori-logo"
    width="30%" height="10%"
    />
    <h1>Account Summary</h1>

    <p>Total balance is {{.TotalBalance}}</p>
    <p>Average debit amount: {{.AverageDebit}}</p>
    <p>Average credit amount: {{.AverageCredit}}</p>

</body>
</html>
